
/* --------Ripple Button-------- */
@mixin rings($duration, $delay) {
  opacity: 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: -8px;
  left: -8px;
  right: 0;
  bottom: 0;
  content: '';
  height: 100%;
  width: 100%;
  border: 8px solid rgba(255, 255, 255, 0.2);
  border-radius: 100%;
  animation-name: ripple;
  animation-duration: $duration;
  animation-delay: $delay;
  animation-iteration-count: infinite;
  animation-timing-function: cubic-bezier(.65,0,.34,1);
  z-index: -1;
 
}

.request-loader {

position: relative;
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
height: 150px;
width: 150px;
border-radius: 100%;
color: rgb(119, 219, 209);
background: rgba(255, 255, 255, 0.568);
box-shadow: 0 0 20px 0 rgba(255, 255, 255, 0.404);
margin-top: 55px;
margin-left: 65px;

span {

  position: relative;
  font-size: 20px;
  // top: 5px;
  // left: 5px;
}

&::after {
  @include rings(3s, 0s);
  margin: 0;
}

&::before {
  @include rings(3s, 0.5s);
}
}


@keyframes ripple {
from {
  opacity: 1;
  transform: scale3d(0.75,0.75,1);
}

to {
  opacity: 0;
  transform: scale3d(1.5,1.5,1);
}
}







/* .App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
