body {
  width: 100vw;
  height: 100vh;
  margin: 0;
  /* font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif; */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: black;
  color: white;
  font-family: 'Jost', sans-serif;
}

/* ---------Page Layout---------- */
.App{
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-wrap: wrap;
}
.navigation {
  height: 100vh;
  width: 30vw;

  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.main {
  width: 70vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  align-items: center;
  text-align: center;

  }

.mainProjects {
  width: 70vw;
  height: 75vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  align-items: center;
  text-align: center;
  color: black;
  padding: 40px;
}
.mainProjects p{
  padding: 30px;
}
.mainProjects img{
  height: 300px;
}

.mainProjects a {
  color: black;
  font-size: 20px;

}
.mainProjects a:clicked {
  color: rgb(119, 219, 209);

}

/* ---------Navigation---------- */

.trails-main {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}

.trails-text {
  position: relative;
  width: 100%;
  height: 80px;
  line-height: 80px;
  color: rgb(119, 219, 209);
  font-size: 5em;
  font-weight: 800;
  text-transform: uppercase;
  will-change: transform, opacity;
  overflow: hidden;
}

.trails-text > div {
  overflow: hidden;
}


.socialBttn {

width: 75px;
margin: 10px;
}

form {
  height: 100%;
  width:100%;
  border: .1ch;
  border-color: rgb(119, 219, 209);
  color: rgb(119, 219, 209);
  box-shadow: 0 0 20px 0 rgba(255, 255, 255, 0.404);
  margin: 10px;
}
b {
  color: rgb(119, 219, 209);
  font-size: 17px;
}

.homePg{
  height: 60vh;
  width: 100vw;
}
.ripple{
  height: 60px;
  font-size: 60px;
 
}
